.blueBorderHeader {
  border: #5EE1FC 15px solid; 
  border-bottom: none;
}

.blueBorderContent {
  border: #5EE1FC 15px solid; 
}

.redBorder {
  border: solid 1px red;
}

.mathiaContainer {
  height: 25vh;
}

.mascotteContainer {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center; 
}

.mascotte {
  height: 70%;
  width: 15vh;
  margin-left: 7vw;
  margin-right: 0%;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.helpText {
  // border: green 1px solid;
  // align-self: flex-start;
  // margin-top: 30px;
  // position: absolute;
  width: 100%;
  height: auto;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: 2vh;
}

.playText {
  position: relative;
  top: 35px;
  right: 40px;
  width: 50px;
}