<!-- <div *ngIf="showSplash" class="splash">

<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
        <ion-img [src]="'../../../assets/mathia/logo_fond_transparent.png'" class="logotext"
        ></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-progress-bar  class="progressBar" color="primary" value="{{progress / 50}}"></ion-progress-bar>
    </ion-col>
  </ion-row>
</ion-grid>

  </div> -->

<ion-app>
  <!-- <ion-split-pane> -->
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label i18n>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
