<!-- <ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title i18n>
			MathIA
		</ion-title>
	</ion-toolbar>
</ion-header> -->

<ion-content no-padding class="blueBorderContent">
	<!-- <div *ngIf="engine">
      {{engine.getFps()}}
    </div> -->
	<!-- <canvas #canvas_box id="canvas_box"></canvas> -->



<div class="pageContainer">


		<div class="mascotteContainer">

			<ion-img [src]="'../../../assets/mathia/mascotte.png'" class="mascotte"
			></ion-img>

		</div>

		<div class="logoContainer">

				<ion-img [src]="'../../../assets/mathia/logo_fond_transparent_solo.png'" class="logo"
				></ion-img>
		
		</div>

		<div class="logotextContainer">

			<ion-img [src]="'../../../assets/mathia/logotext_grey.png'" class="logotext"
			></ion-img>
			
		</div>

		<div class="startButtonContainer">
			
				<div class="customButton" [routerLink]="['/starting']" >
					<span class="buttonText">
						Démarrer
					</span>
				</div>

		</div>

</div>


	<!-- <ion-grid class="gridContainer nightSky">

		<ion-row class="row1">
			<ion-col size="4" offset="4" class="imgContainer">
				<ion-img
					[src]="'../../../assets/mathia/mascotte.png'"
				></ion-img>
			</ion-col>
			<ion-col size="8" offset="2" class="imgContainer">
				<ion-img
					[src]="'../../../assets/mathia/logo_fond_transparent_solo.png'"
				></ion-img>
			</ion-col>

			<ion-col size="12">
				<span class="welcome">
					Bienvenue !
				</span>
			</ion-col>
		</ion-row>

				<div class="startButton">

					<div class="customButton" [routerLink]="['/starting']" >
						<span class="buttonText">
							Démarrer
						</span>
					</div>


				</div>

	</ion-grid> -->



</ion-content>
